<%= simple_form_for [@bill, List.new(bill_id: @bill.id, buyer_id: Buyer.find_by(name: "lingshoukehu").id)] do |f| %>
  <h1>New Retail Order</h1>
  <%= f.association :buyer, as: :hidden, :selected => Buyer.find_by(name: "lingshoukehu").id %>
  <%= f.input :notes, label: "Customer/buyer notes" %>
  <%= f.input :created_at, as: :date, :order => [:day, :month, :year], label: "Order placed on" %>
  <%= f.hidden_field :bill_id, input_html: {value: @bill.id} %>
  <%= f.button :submit, "Create List" %>
  <%= link_to "Cancel", :back %>
<% end %>
<!-- , as: :hidden, input_html: {value: "零售"} -->
<br>
<%= link_to "Can't find the customer/buyer you want? Create your own!", new_buyer_path %>
