<style type="text/css">
  table {
      border-collapse: collapse;
      font-size: 14px;
  }
  table, th, td {
    border: 1px solid black;
    padding: 20px 30px;
    text-align: center;
  }
  .hidden-product {
    height:0px;
    display: none;
  }
  .open-product {
    height:350px;
    transition: height 1s;
  }
  table tr:nth-child(odd) td{
    background-color: while;
  }
  table tr:nth-child(even) td{
    background-color: lightgrey;
  }
</style>

<% if @list.buyer.name == "lingshoukehu" %>
  <h1>Retail Customer's Order List</h1>
<% else %>
  <h1>Customer <%= @list.buyer.name %>'s Order List</h1>
<% end %>
<p>Order placed on： <%= @list.created_at.strftime("%Y-%m-%d") %></p>

<div id="box" >
  <button class="btn btn-success btn-lg" id="add">Add a new item</button>
  <div class="hidden-product" id="form">
    <%= simple_form_for [ @list, @wholesale ] do |form| %>
      <%= form.input :price, label: "Item unit price($USD)", placeholder: '00.00' %>
      <%= form.input :quantity, label: "Quantity", placeholder: "please enter an integer", input_html: {value: 1} if Buyer.find(@list.buyer_id).name == "lingshoukehu" %>
      <%= form.input :quantity, label: "Quantity", placeholder: "please enter an integer" if Buyer.find(@list.buyer_id).name != "lingshoukehu" %>
      <%= form.association :product, collection: Product.all.order(:brand), label: "Choose a product", prompt: "产品品牌 - 产品名字 - 产品颜色/口味 - 产品型号", label_method: lambda { |product| "#{product.brand} - #{product.name} - #{product.color} - #{product.model}" } %>
      <%= form.button :submit %>
    <% end %>
    <%= link_to "Can't find the product you want? Create your own!", new_product_path %>
  </div>
</div>
<table>
  <tr>
    <th><p>Product Name</p></th>
    <th><p>Product model</p></th>
    <th><p>color/flavor</p></th>
    <th><p>Quantity sold(integer)</p></th>
    <th><p>Actual sold price($USD)</p></th>
    <th><p>Wholesale labeled price($USD)</p></th>
    <th><p>Order input date</p></th>
    <th><p>Order input time</p></th>
  </tr>
  <% @list.wholesales.each do |w| %>
    <% if w.price >= w.product.purchase_price %>
      <tr>
        <td><%= w.product.name %></td>
        <td><%= w.product.model %></td>
        <td><%= w.product.color.present? ? w.product.color : "no color/flavor" %></td>
        <td><%= w.quantity %></td>
        <td><%= w.price %></td>
        <td><%= w.product.wholesale_labeled_price.round(2) %></td>
        <td><%= w.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= w.created_at.strftime("%T") %></td>
      </tr>
    <% else %>
        <tr style="background-color: yellow">
        <td><%= w.product.name %></td>
        <td><%= w.product.model %></td>
        <td><%= w.product.color.present? ? w.product.color : "no color/flavor" %></td>
        <td><%= w.quantity %></td>
        <td><%= w.price %></td>
        <td><%= w.product.wholesale_labeled_price.round(2) %></td>
        <td><%= w.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= w.created_at.strftime("%T") %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <% if @list.wholesales.any? %>
      <td><p>Total price: $<%= @list.price_total %></p></td>
      <td><p>Recieved: $</p></td>
      <td><p>Profits: $<%= @list.sub_total %></p></td>
      <td></td>
    <% else %>
      <td>Add a new item now!</td>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
  </tr>
</table>
<p>*Yellow rows mean the sale is not profiting*</p>
<%= link_to "Delete #{@list.buyer.name}'s list'", list_path(@list), method: :delete, data: { confirm: 'Are you sure? This command is inreversible.' } %><br>
<%= link_to "Return to all bills", bill_path(@bill) %>





<script type="text/javascript">
  document.getElementById("add").addEventListener("click", function(event) {
    console.log("yeah babe");
    const form = document.getElementById("form");
    form.classList.toggle("hidden-product");
    form.classList.toggle("open-product");
  });
</script>





