<%= simple_form_for [@product, @description] do |f| %>
  <h1>添加新的产品参数数据</h1>
  <%= f.association :detail, prompt: "请选择参数", label: false %>
  <%= f.input :parameter, placeholder: "请输入数据", label: false %>
  <%= f.button :submit, "保存数据" %>
<% end %>

<%= link_to "找不到想要的参数种类？点击添加自定义参数", new_detail_path %>
