<%= simple_form_for [@product, @description] do |f| %>
  <h1>Add A New Info For <%= @product.name %></h1>
  <%= f.association :detail, prompt: "Please choose a data type", label: false %>
  <%= f.input :parameter, placeholder: "Please enter a parameter", label: false %>
  <%= f.button :submit, "Save data" %>
  <%= link_to "Cancel", :back %>
<% end %>

<%= link_to "Can't find the data type you want? Click to customize your own!", new_detail_path %>
