<style type="text/css">
  .seller-landing {
    background-image: linear-gradient(-225deg, rgba(0,101,208,0.4) 0%, rgba(0,36,61,0.4) 30%), url("/assets/factory.jpg");
    background-size: cover;
    background-position: bottom 50% left 50%;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
</style>
<div class="seller-landing">
  <div class="search">
  <%= form_tag all_sellers_path, method: :get do %>
    <div class="search-group">
      <div class="search-box">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a supplier..."%>
      </div>
      <%= button_tag(type: "submit", class: "magnifier") do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
<% @buyers.each do |buyer| %>
  <%= link_to buyer_path(buyer) do %>
    Contact name： <%= buyer.name %>
    Company name: <%= buyer.company %>
  <% end %>
  <br>
<% end %>
<br>
<%= link_to "Add a new supplier", new_seller_path %>
<br>
<%= link_to "Return", customers_path %>
