<%= simple_form_for @buyer do |f| %>
  <h1>Add A New Supplier</h1>
  <%= f.input :company, label: "Company Name" %>
  <%= f.input :name, label: "Contact Name" %>
  <%= f.input :phone_number, label: "Contact Number" %>
  <%= f.input :email, label: "Contact Email" %>
  <%= f.input :website, label: "Company Website URL" %>
  <%= f.input :address, label: "Company Address" %>
  <%= f.button :submit, "Save Supplier" %>
<% end %>
