<%= simple_form_for @buyer do |f| %>
  <h1>Add A New Customer/Buyer</h1>
  <%= f.input :name, label: "Contact name" %>
  <%= f.input :company, label: "Company Name(optional)" %>
  <%= f.input :phone_number, label: "Contact Number(optional)" %>
  <%= f.input :email, label: "Contact Email(optional)" %>
  <%= f.input :address, label: "Contact Address(optional)" %>
  <%= f.input :is_buyer, as: :hidden, input_html: { value: true } %>
  <%= f.button :submit, "Save" %>
<% end %>

