<%= form_tag products_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a product..."%>
<% end %>
<% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <p><%= product.name %>  <%= product.category %>  $<%= product.purchase_price %></p>
  <% end %>
  <br>
<% end %>
<%= link_to "Add a new product", new_product_path %>
