<%= simple_form_for @product do |f| %>
  <h1>Create a new product</h1>
  <%= f.input :brand, label: "Product brand" %>
  <%= f.input :name, label: "Product name" %>
  <%= f.input :model, label: "Model(optional)" %>
  <%= f.input :category, label: "Category(optional)" %>
  <%= f.input :color, label: "Color/flavor(optional)" %>
  <%= f.input :storage, label: "Current quantity in stock(integer)",input_html: { min: 1 }, placeholder: '0' %>
  <%= f.input :purchase_price, label: "Purchase price($USD)", placeholder: '00.00' %>
  <%= f.input :wholesale_labeled_price, label: "Wholesale labeled price($USD)", placeholder: '00.00' %>
  <%= f.button :submit, "Save product", data: { confirm: 'Once confirmed you will not be able to edit your quantity in stock.' }%>
  <%= link_to "Cancel", :back %>
<% end %>
